.vscode/**
.vscode-test/**
src/**
test/**
out/**
node_modules/**
*.vsix
.gitignore
.eslintrc*
tsconfig.json
tsconfig.webview.json
esbuild.config.mjs
**/*.map
**/*.ts
!dist/**
!schemas/**
!snippets/**
!media/**
!README.md
!CHANGELOG.md
!LICENSE
!package.json
